<!doctype html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	{% load static %}
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">

    <title>Teste</title>
  </head>
  <body>
    <a class="btn btn-success">Teste</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>	
  </body>
</html>
